#destination1, #destination2, #destination3 {
  display: none;
  text-align: center;
}

img {
  max-width: 500px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.footer {
  text-align: center;
}
